* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("abstract-blockchain-background_23-2147850235.jpeg");
}

.container {
  background-image: linear-gradient(
    to bottom right,
    rgb(78, 85, 83),
    rgb(255, 255, 255)
  );
  width: 500px;
  height: 820px;
}

h1 {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  color: rgb(255, 255, 255);
}

label {
  display: flex;
  justify-content: flex-start;
  color: whitesmoke;
  margin-bottom: 5px;
  margin-left: 5px;
}

.name,
.email,
.age,
.options,
.recommend,
.favorite,
.altcoins,
.textfield {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 95%;
  margin-bottom: 15px;
}

input,
label,
select {
  margin-left: 5%;
  text-decoration: none;
  outline: none;
}

.box {
  min-height: 100px;
  width: auto;
}

.submit {
  display: flex;
  justify-content: center;
}

button {
  width: 95%;
  height: 25px;
  margin-bottom: 20px;
  background-color: rgba(135, 206, 250, 0.205);
}

.logos {
  display: flex;
  justify-content: center;
  height: 50px;
  width: auto;
}

img {
  margin-right: 15px;
}
